@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://rsms.me/inter/inter.css');

html {
  font-size: 62.5%;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

.landing-stats {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 3.6em;
  text-align: left;

  margin: 0;
  padding-top: 12px;
  color: #F5F5F5;
}

i.as-icon {
  font-size: 1.5em;
}

.username {
  color: #CC0000 !important;
  font-family: 'Inter', sans-serif;
  font-size: 0.9em !important;
  padding-right: 12px !important;
}
.as-toolbar a {
  font-size: 0.9em;
}

.landing-p {
  font-family: 'Inter', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  text-align: left;
  color: rgb(214, 214, 214);
}

.landing-p-dark {
  font-family: 'Inter', sans-serif;
  font-size: 1.5em !important;
  font-weight: 400;
  text-align: left;
  color: rgb(110, 110, 110);
}

// .landing-card {
//     flex: 0 0 25%; 
// }

.landing-break {
  background-color: #0353a9;
  height: 4px;
  width: 90px;
  border-radius: 2px;
}

.landing-break-alert {
  background-color: rgb(238, 191, 0);
  height: 4px;
  width: 90px;
  border-radius: 1px;
}



body {
  font-family: 'Inter', sans-serif !important;
  // font-size: 1em !important;
}

::-webkit-scrollbar { 
  display: none; 
  }

.search-item:hover {
  background-color: #dedede;
  padding: 6px;
  cursor: pointer;
}


.search-item {
  padding: 6px;
}

body {
  // font-size: $m-size;
  width: 100%;
  height: 100%;
  min-height: 100% !important;
  // overflow: hidden;
}

.leaflet-popup-content p {
  margin: 0;
}

.leaflet-popup {
  bottom: 5px !important;
  left: -2px !important;
}

.as-box--scroll {
  overflow: auto;
}

.leaflet-container {
  flex: 1;
}

.leaflet-popup-content {
  margin: 0;
  line-height: normal;
}

.leaflet-popup-content-wrapper {
  padding: 0;
  background: none;
  border-radius: 0;
  box-shadow: none;
}

.leaflet-popup-tip-container {
  display: none;
}

#map {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-pane{
  img{
      position: absolute;
  }
}

.customInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.customInput + label {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  transition: background-color .2s;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: var(--as-color-primary,#1785fb);
  color: var(--as-color-ui-01,#fff);
  font: 12px/20px var(--font-family-base,Roboto,sans-serif);
  cursor: pointer;
}



.fileContainer {
    overflow: hidden;
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    transition: background-color .2s;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: var(--as-color-primary,#1785fb);
    color: var(--as-color-ui-01,#fff);
    font: 12px/20px var(--font-family-base,Roboto,sans-serif);
    cursor: pointer;
}

.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.fileContainer:hover {
  background-color: var(--as-button-primary-color-focus, #0353a9); }
.fileContainer:active {
  background-color: var(--as-button-primary-color-focus, #012245); }



	.skeleton:empty {
    margin: auto;
		width: 270px;
		height: 600px; /* change height to see repeat-y behavior */
    
		background-image:
			// radial-gradient( circle 50px at 50px 50px, lightgray 99%, transparent 0 ),
			linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),
			linear-gradient( #ededed 20px, transparent 0 ),
			linear-gradient( #ededed 20px, transparent 0 ),
			linear-gradient( #ededed 20px, transparent 0 ),
			linear-gradient( #ededed 20px, transparent 0 );

		background-repeat: repeat-y;

		background-size:
			// 100px 200px, /* circle */
			50px 200px, /* highlight */
			150px 200px,
			350px 200px,
			300px 200px,
			250px 200px;

		background-position:
			// 0 0, /* circle */
			0 0, /* highlight */
			0 0,
			0 40px,
			0 80px,
			0 120px;

		animation: shine 3s infinite;
	}

	@keyframes shine {
		to {
			background-position:
				// 0 0,
				100% 0, /* move highlight to right */
				0 0,
				0 40px,
				0 80px,
				0 120px;
		}
  }
  
  @keyframes move {
  
  }